[server]
user=root
port=3306
lower_case_table_names=1
max_allowed_packet=16777216

[client]
user=root
password="xxx"

[mysql]
user=root
password="xxx"

[mysqldump]
user=root
password="xxx"

[mysqldiff]
user=root
password="xxx"